.pfp {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.pfp img {
  width: 300px;
  border-radius: 50%; /* Make the image rounded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}
.cimg
{
  display: flex;
  justify-content: center;
}
img
{
  width: 300px;
  
}

@media (max-width : 768px){

  img{
    width: 40vw;
  }
  .pfp img{
    width: 50vw;
  }

}